### OAuth Providers ###
# TODO: set GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET in .env
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# TODO: set GITHUB_CLIENT_ID and GITHUB_CLIENT_SECRET in .env
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

### reCAPTCHA v3 ###
# TODO: set RECAPTCHA_PUBLIC_KEY and RECAPTCHA_PRIVATE_KEY in .env
RECAPTCHA_PUBLIC_KEY=your_recaptcha_public_key
RECAPTCHA_PRIVATE_KEY=your_recaptcha_private_key
